%main.container
  %a.general-back-link{href: request.referer}
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        - if @book.title_image.attached?
          .mb-20
            %a{href: url_for(@book.title_image)}
              %img.img-responsive{src: url_for(@book.decorate.resize_title_image(550)), alt: "design-book"}
        - if @book.body_images.attached?
          .images.clearfix
            - @book.decorate.resized_body_images(170).each do |image|
              %a.img-link{href: url_for(image)}
                %img{src: url_for(image)}
    .col-sm-6
      %h1.mt-res-0= @book.title.capitalize
      %p.lead.small= @book.decorate.authors_full_name
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= t('book.price', price: @book.price)
        = simple_form_for 'order[order_item]', url: cart_path, method: :put do |f|
          .col-xs-5.col-md-3
            .input-group.general-position
              %a.input-link.b-n.pt-7#minus
                %i.fa.fa-minus.line-height-40
              = f.hidden_field :book_id, value: @book.id
              = f.text_field :quantity, class: 'form-control quantity-input input-count-book', value: 1
              %a.b-n.input-link#plus
                %i.fa.fa-plus.line-height-40
          .col-xs-7.col-md-5
            = f.button :submit, t('button.add_to_cart'), class: 'btn btn-default pull-right general-position'
      .general-info-wrap.divider-lg
        %p Description
        %p.lead.small.line-height-2
          .textControl= @book.description
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Year of publication
          %p.lead.small.pull-right= @book.publication_year
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Dimensions
          %p.lead.small.pull-right= t('book.dimensions', height: @book.height, width: @book.width, depth: @book.depth)
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Materials
          %p.lead.small.pull-right= @book.materials
  .mb-80#review_form
    - if user_signed_in?
      = render 'review/partials/form', book_id: @book.id, review: ReviewForm.new
  .mb-80
    %h3.in-gold-500.mb-25= t('review.reviews', reviews_count: @book.reviews.approved.count)
    = render partial: 'books/partials/review', collection: @book.reviews.approved, as: :review
