!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= I18n.t('header.bookstore')
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    = render partial: 'layouts/partials/header'
    = render partial: 'layouts/partials/flash_messages'
    = yield
    = render partial: 'layouts/partials/footer'
  %script{src: "https://use.fontawesome.com/67602d7308.js"}
